<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout :: header(title='New Recipe')}">
	<title>This is New Recipe Form</title>
</head>

<body class="body-form">

<nav th:replace="~{layout :: navbar(title='New Recipe')}">
	<span>This is New Recipe navbar</span>
</nav>
	

<div role="main" class="container">

	<form th:object="${recipe}" th:action="@{/recipe/}" method="post">
		<input type="hidden" th:field="*{id}" />

		<div class="form-group card col-10 mx-auto bg-dark text-light">
			<div class="card-header text-center mt-3">
				<h3>Enter Recipe Details</h3>
			</div>
			
			<div class="card-body p-0">
				<ul th:if="${#fields.hasErrors('*')}">
				  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
				</ul>

				<ul class="list-group list-group-flush">

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Name:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="text" class="form-control form-control-sm"
								th:field="*{description}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Prep Time (min):</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="number" class="form-control form-control-sm" th:field="*{prepTime}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Cook time (min):</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="number" class="form-control form-control-sm" th:field="*{cookTime}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Difficulty:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input name="difficulty" list="difficulties"
								class="form-control form-control-sm" th:field="*{difficulty}" />
							<datalist id="difficulties">
								<option value="Easy" />
								<option value="Medium" />
								<option value="Hard" />
							</datalist>
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Servings:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="number" class="form-control form-control-sm" th:field="*{servings}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Source:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="text" class="form-control form-control-sm" th:field="*{source}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Source URL:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="url" class="form-control form-control-sm" th:field="*{url}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Image URL:</span>
						</div>
						<div class="col-md-9 col-sm-12 float-right">
							<input type="url" class="form-control form-control-sm" th:field="*{imageUrl}" />
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Categories:</span>
						</div>
						<div class="col-md-9 col-sm-12 d-flex">
							<input type="text" class="form-control form-control-sm mr-1" th:field="*{categories}" />
							<a id="add-category" class="btn btn-outline-primary px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-plus"></i> </a> 
							<a id="rmv-category" class="btn btn-outline-danger px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-minus"></i> </a>
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Directions:</span>
						</div>
						<div class="col-md-9 col-sm-12 d-flex">
							<input type="text" class="form-control form-control-sm mr-1" th:field="*{directions}" />
							<a id="add-direction" class="btn btn-outline-primary px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-plus"></i> </a> 
							<a id="rmv-direction" class="btn btn-outline-danger px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-minus"></i> </a>
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Ingredients:</span>
						</div>
						<div class="col-md-9 col-sm-12 d-flex">
							<input type="text" class="form-control form-control-sm mr-1" th:field="*{ingredients}" />
							<a id="add-ingredient" class="btn btn-outline-primary px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-plus"></i> </a> 
							<a id="rmv-ingredient" class="btn btn-outline-danger px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-minus"></i> </a>
						</div>
					</li>

					<li class="list-group-item bg-transparent">
						<div class="col-md-3 col-sm-12 float-left">
							<span class="h6">Notes:</span>
						</div>
						<div class="col-md-9 col-sm-12 d-flex">
							<textarea cols="3" class="form-control form-control-sm mr-1" th:field="*{notes.recipeNotes}"> </textarea>
							<!-- <input type="text" class="form-control form-control-sm mr-1" th:field="*{notes.recipeNotes}" /> -->
							<a id="add-note" class="btn btn-outline-primary px-2 py-1 mx-1" data-toggle="modal" data-target="#exampleModalCenter" href="#" role="button"> <i class="fas fa-1x fa-plus"></i> </a> 
							<a id="rmv-note" class="btn btn-outline-danger px-2 py-1 mx-1" href="#" role="button"> <i class="fas fa-1x fa-minus"></i> </a>
						</div>
						<!-- Button trigger modal -->
<!-- 						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
						  Launch demo modal
						</button>
						 -->
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
						  </div>
						</div>
					</li>

				</ul>

			</div>
			
			<div class="d-flex mx-auto mt-3 mb-5">
				<button type="submit" class="btn btn-outline-primary mx-2">Submit</button>
				<button type="reset" class="btn btn-outline-warning mx-2">Reset</button>
			</div>
				
		</div>

	</form>

</div>


<footer th:replace="~{layout :: footer}">
	<span>This is Index - Copyright &copy; 2019</span>
</footer>


<th:block th:replace="~{layout :: scripts}"></th:block>

<!-- recipe.js is not included in the layout. So add it explicitly here. -->
<script type="text/javascript" 
	th:src="@{/js/recipe.js}"
	src="../../static/js/recipe.js"></script>
	
</body>
</html>

