<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout :: header(title='New Recipe')}">
	<title>This is New Recipe Form</title>
</head>

<body class="body-form">

<nav th:replace="~{layout :: navbar(title='New Recipe')}">
	<span>This is New Recipe navbar</span>
</nav>
	

<div role="main" class="container">

	<!-- This is for printing Thymeleaf variables for debugging purposes -->
	<!-- <th:block th:replace="~{fragments :: thymeleafvars}"></th:block> -->
    
	<form name="recipe-form" th:object="${recipe}" th:action="@{/recipe}" method="post">
		<input type="hidden" th:field="*{id}" />
		
		<div class="card col-lg-10 col-md-12 mx-auto bg-dark text-light">
			<div class="card-header text-center mt-3">
				<h3>Enter Recipe Details</h3>
			</div>
			<div class="card-body mr-4">
				
				<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
				  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">All errors</p>
				</div>
				
				<div class="input-group input-group-sm m-3">
					<div class="input-group-prepend">
						<label for="description" class="input-group-text">Name</label>
					</div>
					<input type="text" 
							th:field="*{description}"
							class="form-control" 
							th:errorclass="is-invalid" 
							placeholder="Give it a good name!" />
					<ul th:if="${#fields.hasErrors('description')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
						<li th:each="err : ${#fields.errors('description')}" th:text="${err}">Input is incorrect</li>
					</ul> 
				</div>
				
				<div class="input-group m-3 p-0">
					<div class="col-lg-6 input-group input-group-sm p-0 pr-2">
						<div class="input-group-prepend">
							<label for="prepTime" class="input-group-text">Prep Time</label>
						</div>
						<input type="number" min="0" max="120" 
								th:field="*{prepTime}" 
								class="form-control"
								th:errorclass="is-invalid"
								placeholder="Preparation time (in minutes)" />
						<ul th:if="${#fields.hasErrors('prepTime')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
							<li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}">Input is incorrect</li>
						</ul> 
					</div>
					
					<div class="col-lg-6 input-group input-group-sm p-0 pl-2">
						<div class="input-group-prepend">
							<label for="cookTime" class="input-group-text">Cook Time</label>
						</div>
						<input type="number" min="0" max="120" 
								th:field="*{cookTime}" 
								class="form-control"
								th:errorclass="is-invalid"
								placeholder="Cooking time (in minutes)" />
						<ul th:if="${#fields.hasErrors('cookTime')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
							<li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}">Input is incorrect</li>
						</ul> 
					</div>
				</div>
				
				<div class="input-group m-3 p-0">
					<div class="col-lg-6 input-group input-group-sm p-0 pr-2">
						<div class="input-group-prepend">
							<label for="difficulty" class="input-group-text">Difficulty</label>
						</div>
						<select class="form-control" th:errorclass="is-invalid" th:field="*{difficulty}" >
						    <option value="" selected>Select difficulty</option>
						    <option th:each="diffValue : ${T(org.izce.recipe.model.Difficulty).values()}"
						            th:value="${diffValue}"
						            th:text="${#strings.capitalize(#strings.toLowerCase(diffValue))}">
						    </option>
						</select>
						<!-- <input class="form-check-input form-control form-control-sm" type="radio" name="difficulty" 
							th:each="diffValue : ${T(org.izce.recipe.model.Difficulty).values()}"
					        th:value="${diffValue}"
					        th:text="${#strings.capitalize(#strings.toLowerCase(diffValue))}" />
					    -->
					    <ul th:if="${#fields.hasErrors('difficulty')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
							<li th:each="err : ${#fields.errors('difficulty')}" th:text="${err}">Input is incorrect</li>
						</ul> 
					</div>
					
					<div class="col-lg-6 input-group input-group-sm p-0 pl-2">
						<div class="input-group-prepend">
							<label for="servings" class="input-group-text">Servings</label>
						</div>
						<input type="number" min="1" max="10" 
								th:field="*{servings}" 
								class="form-control" 
								th:errorclass="is-invalid"
								placeholder="How many portions" />
						<ul th:if="${#fields.hasErrors('servings')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
							<li th:each="err : ${#fields.errors('servings')}" th:text="${err}">Input is incorrect</li>
						</ul> 
					</div>
				</div>
				
				
				<div class="input-group m-3 p-0">
					<div class="col-lg-6 input-group input-group-sm p-0 pr-2">
						<div class="input-group-prepend">
							<label for="source" class="input-group-text">Source</label>
						</div>
						<input type="text" 
								th:field="*{source}" 
								class="form-control" 
								th:errorclass="is-invalid"
								placeholder="Who told you that ;)" />
						<ul th:if="${#fields.hasErrors('source')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
							<li th:each="err : ${#fields.errors('source')}" th:text="${err}">Input is incorrect</li>
						</ul> 
					</div>
					
					<div class="col-lg-6 input-group input-group-sm p-0 pl-2">
						<div class="input-group-prepend">
							<label for="url" class="input-group-text">Source URL</label>
						</div>
						<input type="url" class="form-control" th:field="*{url}" placeholder="Source address" />
					</div>
				</div>
				
				
				<div class="input-group input-group-sm m-3">
					<div class="input-group-prepend">
						<label for="imageUrl" class="input-group-text">Image URL</label>
					</div>
					<input type="url" 
							th:field="*{imageUrl}" 
							class="form-control" 
							th:errorclass="is-invalid"
							placeholder="Point to an image of this yummy recipe" />
				</div>
				
				<!--##### CATEGORIES #####-->
				<div th:if="${recipe.id != null}" class="card input-group m-3 bg-transparent border border-primary">
					<div class="card-header">
						<span class="h6 text-primary">Categories</span>
					</div>
					<div class="card-body p-2" >
						<div class="input-group input-group-sm mx-1">
							<!-- <input type="hidden" th:field="*{categories[__${categoryStat.index}__].id}" />
							<input type="hidden" th:field="*{categories[__${categoryStat.index}__].description}" /> -->
							<th:block th:each="category : *{categories}">
							<span th:id="'category-' + ${category.id}" 
								th:classappend="${category.id != null} ? 'btn-primary': 'btn-warning'" 
								class="category mx-1 py-1 px-2 rounded btn font-sm">
							  <span th:text="${category.description}">Turkish</span>
							  <a class="ml-2" 
								  th:classappend="${category.id != null} ? 'btn-primary': 'btn-warning'" 
								  th:href="@{'/recipe/' + ${recipe.id} + '/category/' + ${category.id} + '/delete'}">
							  <i class="far fa-times-circle"></i></a>
							</span>
							</th:block>
							
							<!-- This is a template to add new categories with jQuery and Ajax/POST.
							 	btn-primary or btn-warning class will be added after checking the category id.-->
							<span id="category-" class="category mx-1 py-1 px-2 rounded btn font-sm" style="display:none;">
							  <span>Turkish</span>
							  <a class="ml-2" href="/recipe/1/category/1/delete"><i class="far fa-times-circle"></i></a>
							</span>
						</div>
						<div class="input-group input-group-sm mt-1 px-2 py-1">
							<!-- <input type="hidden" th:field="*{categories}" />  -->
							<input type="text" id="input-category" class="form-control"
									placeholder="Add some categories i.e. Turkish, Mexican" />
							<ul th:if="${#fields.hasErrors('categories')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
								<li th:each="err : ${#fields.errors('categories')}" th:text="${err}">Input is incorrect</li>
							</ul> 
							<div class="input-group-append">
								<a id="btn-add-category" class="btn btn-outline-primary ml-1" th:href="@{'/recipe/' + ${recipe.id} + '/category/add'}"> <i class="fas fa-1x fa-plus"></i> </a> 
							</div>
						</div>
					</div>
				</div>
				
				<!--##### DIRECTIONS #####-->
				<div th:if="${recipe.id != null}" class="card input-group m-3 bg-transparent border border-warning">
					<div class="card-header">
						<span class="h6 text-warning">Directions</span>
					</div>
					<div class="card-body p-2" >
						<!--  This is template for adding new directions -->
						<div id="direction-" class="direction alert alert-warning mx-2 my-1 px-2 py-1 font-sm" style="display: none;">
							<span class="">Cook</span>
							<a class="btn-outline-warning bg-transparent float-right" 
								href="/recipe/direction/delete">
							<i class="far fa-times-circle"></i></a>
						</div>
						
						<th:block th:each="direction, directionStat : *{directions}">
						<div th:id="'direction-' + ${directionStat.index}" 
							class="direction alert alert-warning mx-2 my-1 px-2 py-1 font-sm">
							<span class="" th:text="${directionStat.count + '. ' + direction}">Cook</span>
							<a class="btn-outline-warning bg-transparent float-right" 
								th:href="@{/recipe/direction/delete(index=${directionStat.index})}">
							<i class="far fa-times-circle"></i></a>
						</div>
						</th:block>
						<div id="direction-input-box" class="input-group input-group-sm mt-1 px-2 py-1">
							<!-- <input type="hidden" th:field="*{directions}" />  -->
							<input type="text" id="input-direction" class="form-control"
								placeholder="Add some directions i.e. Cook, Slice" />
							<ul th:if="${#fields.hasErrors('directions')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
								<li th:each="err : ${#fields.errors('directions')}" th:text="${err}">Input is incorrect</li>
							</ul> 
							<div class="input-group-append">
								<a id="btn-add-direction" class="btn btn-outline-warning ml-1" th:href="@{/recipe/direction/add}"> <i class="fas fa-1x fa-plus"></i> </a> 
							</div>
						</div>
					</div>
				</div>			
				
				<!--##### INGREDIENTS #####-->
				<div th:if="${recipe.id != null}" class="card input-group m-3 bg-transparent border border-success">
					<div class="card-header">
						<span class="h6 text-success">Ingredients</span>
					</div>
					<div class="card-body p-2" >
						
						<!-- START: TEMPLATE for adding new ingredients -->
						<div id="ingredient-template" class="ingredient alert alert-success mx-2 my-1 px-2 py-1 font-sm d-none">
							<span class="ingredient-text">1.5 Teaspoon Salt</span>
							<!-- Note that recipe.id will be replaced with its actual value 
								but {ingredient.id} is a placeholder for recipe.js to replace it. -->
							<a class="btn-delete-ingredient btn-outline-success bg-transparent float-right" 
								th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/{ingredient.id}/delete'}">
							<i class="far fa-times-circle"></i>
							</a>
							<a class="btn-edit-ingredient btn-outline-success bg-transparent float-right" 
								th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/{ingredient.id}/update'}">
								<i class="mx-1 font-lg fas fa-pen-square"></i>
							</a>
						</div>
						<!-- END: TEMPLATE -->
						
						<!-- START: Current ingredients List -->
						<div th:each="ingredient, itemStat : *{ingredients}" th:id="'ingredient-' + ${ingredient.id}" 
							class="ingredient alert alert-success mx-2 my-1 px-2 py-1 font-sm">
							<span class="ingredient-text" 
								th:text="${ingredient}"
								 th:attr="data-id=${ingredient.id}, data-amount=${ingredient.amount}, data-uomid=${ingredient.uom.id}, data-description=${ingredient.description}"
								>1 Teaspoon Salt</span>
							<a th:id="'btn-delete-ingredient-' + ${ingredient.id}" 
								class="btn-delete-ingredient btn-outline-success bg-transparent float-right" 
								th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}" title="Delete">
								<i class="font-lg far fa-times-circle"></i>
							</a>
							<a th:id="'btn-edit-ingredient-' + ${ingredient.id}"
								class="btn-edit-ingredient btn-outline-success bg-transparent float-right" 
								th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}" title="Edit">
								<i class="mx-1 font-lg fas fa-pen-square"></i>
							</a>
						</div>
						<!-- END: Current ingredients List -->
						
						<div id="ingredient-input-box" class="row mx-1 my-1 py-1 font-sm rounded">
							<div class="input-group input-group-sm col-md-2 my-0 px-1">
								<div class="input-group-prepend">
									<label for="input-ingredient-amount" class="input-group-text">Amount</label>
								</div>
								<input type="number" step="0.1" id="input-ingredient-amount" class="form-control font-sm" value="1" />
							</div>
							<div class="input-group input-group-sm col-md-3 my-0 px-1">
								<div class="input-group-prepend">
									<label for="input-ingredient-uom" class="input-group-text">Unit</label>
								</div>
								<select id="input-ingredient-uom" class="form-control font-sm" >
								    <option th:each="uom : ${uomList}"
								            th:value="${uom.id}"
								            th:text="${#strings.toLowerCase(uom.uom)}">
								    </option>
								</select>
							</div>
							<div class="input-group input-group-sm col-md-7 my-0 px-1">
								<div class="input-group-prepend">
									<label for="input-ingredient-description" class="input-group-text">Ingredient</label>
								</div>
								<input type="text" id="input-ingredient-description" class="form-control font-sm"/>
								<div class="input-group-append">
									<a id="btn-add-ingredient" class="btn btn-outline-success ml-1 font-sm" 
										th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/add'}" title="Add" > 
										<i class="fas fa-1x fa-plus"></i> 
									</a> 
									<a id="btn-update-ingredient" class="d-none btn btn-outline-success ml-1 font-sm" title="Update"> 
										<i class="fas fa-1x fa-pen"></i> 
									</a> 
									<a id="btn-cancel-update-ingredient" class="d-none btn btn-outline-success ml-1 font-sm" title="Cancel"> 
										<i class="fas fa-1x fa-times"></i>
									</a>
								</div>
							</div>
							
							<!--  <input type="hidden" th:field="*{ingredients}" />  -->
							<ul th:if="${#fields.hasErrors('ingredients')}" class="alert alert-danger mb-0 py-2 invalid-feedback" role="alert">
								<li th:each="err : ${#fields.errors('ingredients')}" th:text="${err}">Input is incorrect</li>
							</ul> 
							
						</div>
					</div>
				</div>	
				
				<!--##### NOTES #####-->
				<div th:if="${recipe.id != null}" class="card input-group m-3 bg-transparent border border-info">
					<div class="card-header">
						<span class="h6 text-info">Notes</span>
					</div>
					
					<div class="card-body px-3 pt-0" >
						<div class="input-group input-group-sm">
							<textarea rows="5"  
								th:field="*{notes.recipeNotes}"
								th:errorclass="is-invalid"
								class="form-control" 
								id="recipeNotes"
								placeholder="Anything else you would like to add..." > 
							</textarea>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="card-footer d-flex justify-content-center mb-4">
				<button type="submit" class="btn btn-outline-primary mx-2">Submit</button>
				<button type="reset" class="btn btn-outline-warning mx-2">Reset</button>
			</div>
		
		</div>
		
	</form>

</div>


<footer th:replace="~{layout :: footer}">
	<span>This is Index - Copyright &copy; 2019</span>
</footer>


<th:block th:replace="~{layout :: scripts}"></th:block>

<!-- recipe.js is not included in the layout. So add it explicitly here. -->
<script type="text/javascript" 
	th:src="@{/js/recipe.js}"
	src="../../static/js/recipe.js"></script>
	
</body>
</html>

