<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="@{'Recipe: ' + ${recipe.description}}">Recipe Details</title>

<!-- Latest compiled and minified CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" >

	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" >
		
<!-- Latest compiled and minified Bundle JavaScript -->
<!-- <script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous"
	th:src=@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} >
</script>
 -->
 
<style type="text/css" th:inline="text">

a.collapser:hover {
	text-decoration: none;
	transform: rotate(-90deg);
}

body {
  background: black;
  position: relative;
  z-index: 0;
}

body::before {
  background-image: url([[@{(${recipe.imageUrl})}]]); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.container-fluid, .navbar, .footer {
	opacity: 0.9;
}

.bg-grad {
	background-image: linear-gradient(to bottom right, white, silver);
}

.bg-grad-down {
	background-image: linear-gradient(to bottom right, skyblue, white);
}

nav i#home:hover {
	text-shadow: 0px 0px 20px white;
}

nav i#pepper {
	text-shadow: 0px 0px 20px red;
}

nav i#pizza {
	text-shadow: 0px 0px 20px orange;
}

nav span#title {
	text-shadow: 0px 0px 20px white;
}

</style>
 
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<a class="navbar-brand" href="/"> 
		<i id="home" class="h2 text-primary fas fa-home"></i> 
	</a>
	<span id="title" class="h2 text-light mx-auto">
		<i id="pepper" class="p-1 text-danger fas fa-pepper-hot"></i>
		<span th:text="${recipe.description}">Recipe Description Here!</span>
		<i id="pizza" class="p-1 text-warning fas fa-pizza-slice"></i>
		<!-- <i class="p-1 text-warning fas fa-fire"></i> -->
	</span>
		
</nav>


<div role="main" class="container-fluid">

<div class="row">
	
	<div class="col-md-6 col-sm-12">
		<div class="card m-2 shadow border">
			<div class="card-body p-1">
	            
	            <ul class="list-group list-group-flush">
				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Prep Time:</span>
			        </div>
			        <div class="col-7 float-right">
			        	<span th:text="@{${recipe.prepTime} + ' min'}">30 min</span>
			        </div>
				  </li>

				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Cook time:</span>
			        </div>
			        <div class="col-7 float-right">
			        	<span th:text="@{${recipe.cookTime} + ' min'}">30 min</span>
			        </div>
				  </li>				  
				  
				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Difficulty:</span>
			        </div>
			        <div class="col-7 float-right">
			        	<span class="text-lowercase" th:text="${recipe.difficulty}">Easy</span>
			        </div>
				  </li>	
				  
				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Servings:</span>
			        </div>
			        <div class="col-7 float-right">
			        	<span th:text="${recipe.servings}">4</span>
			        </div>
				  </li>
				  
				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Source:</span>
			        </div>
		            <div class="col-7 float-right">
		                <a class="text-right" href="#" th:href="${recipe.url}" th:text="${recipe.source}">Easy Recipes</a>
		            </div>
				  </li>

				  <li class="list-group-item bg-grad">
					<div class="col-5 float-left">
			        	<span class="h6">Categories:</span>
			        </div>
		            <div class="col-7 float-right">
						<span th:remove="all">Turkish</span>
		                <span th:remove="all">Mexican</span>
		                <span class="badge badge-success mx-1" 
		                	th:each="category : ${recipe.categories}" 
		                	th:text="${category.description}">Italian</span>	                
		            </div>
				  </li>			  		  					  
				</ul>
				
	        </div>
	        
        </div>
	        
        <div class="card m-2 mt-3 shadow border">
			<div class="card-header bg-warning text-dark shadow">
               	<span class="h5">Directions</span>
           	</div>
            <div class="card-body">
            	<ul> 
            		<li th:remove="all">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            		<li th:remove="all">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            		<li th:each="direction : ${recipe.getDirectionsList()}" th:if="${not #strings.isEmpty(direction)}" th:text="${direction}">
            		Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            		</li>
            	</ul>
            </div>
         </div>
	    
	</div>
	
	<div class="col-md-6 col-sm-12">
		<div class="card m-2 shadow border">
			<img class="img-fluid rounded" src="" th:src="${recipe.imageUrl}" />
		</div>
	</div>
	
</div>

<div class="row">

	<div class="col-md-6 col-sm-12">
		<div class="card m-2 shadow">
			<div class="card-header bg-primary text-light shadow">
				<span class="h5">Ingredients</span>
			</div>
			<div class="card-body" id="card3"
				th:if="${not #lists.isEmpty(recipe.ingredients)}">
				<ul>
					<li th:remove="all">1 Cup of milk</li>
					<li th:remove="all">1 Teaspoon of chocolate</li>
					<li th:each="ing : ${recipe.ingredients}"
						th:text="@{ ${#numbers.formatDecimal(ing.amount,1,1)} + ' ' + ${ing.uom.uom} + ' of ' + ${ing.description}}">1
						Teaspoon of Sugar</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-12">
		<div class="card m-2 shadow">
		    <div class="card-header bg-danger text-light shadow">
		        <span class="h5">Notes</span>
		    </div>
		    <div class="card-body" id="card2">
		        <div class="row">
		            <div class="col-md-12">
		            	<ul> 
		            		<li class="mb-1" th:remove="all">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		            		<li class="mb-1" th:remove="all">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		            		<li class="mb-1" 
		            			th:each="note : ${recipe.notes.getNotesList()}" 
		            			th:if="${not #strings.isEmpty(note)}" 
		            			th:utext="${#strings.replace(#strings.escapeJava(note),'\n','&lt;br/&gt;')}">
		            			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
		            		</li>
		            	</ul>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>

</div>


<footer class="footer footer-dark bg-dark mt-3 p-3">
  <div class="container text-center">
    <span class="h6 text-muted p-2">About</span>
    <span class="h6 text-muted p-2">Contact</span>
    <span class="h6 text-muted p-2">Copyright &copy; 2019</span>
  </div>
</footer>



 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</body>
</html>