<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recipes collected by IzCe</title>

<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
	integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
	crossorigin="anonymous">
</script>

<style>
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  padding: 2px;
}
</style>
</head>
<body>
	<!--/*@thymesVar id="recipes" type="java.lang.Iterable<org.izce.recipe.model.Recipe>"*/-->
<h2 th:text="'Recipe List'">Recipe List goes here!</h2>

<table style="border-width: 2px;">
	<thead>
	<tr>
		<th style="width: 50px;">Id</th>
		<th style="width: 200px;">Description</th>
		<th style="width: 20px;">Cook Time</th>
		<th style="width: 20px;">Prep Time</th>
		<th style="width: 20px;">Servings</th>
		<th style="width: 50px;">Difficulty</th>
		<th style="width: 100px;">Source</th>
		<!-- <th style="width: 100px;">URL</th> -->
		<th style="width: 300px;">Directions</th>
		<th style="width: 400px;">Notes</th>
	</tr>
	</thead>
	
	<tbody>
	<tr th:each="recipe : ${recipes}">
		<td th:text="${recipe.id}">1</td>
		<td th:text="${recipe.description}">Recipe1</td>
		<td th:text="${recipe.cookTime}">10</td>
		<td th:text="${recipe.prepTime}">10</td>
		<td th:text="${recipe.servings}">2</td>
		<td th:text="${recipe.difficulty}">EASY</td>
		<td><a th:href="${recipe.url}" th:text="${recipe.source}">Recipe book</a></td>
		<!-- <td th:text="${recipe.url}">www</td> -->
		<td><pre th:text="${recipe.directions}">Directions goes here!</pre></td>
		<td><pre th:text="${recipe.notes.recipeNotes}">Recipe Notes goes here!</pre></td>
	</tr>
	</tbody>
</table>

</body>
</html>