<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 
<th:block th:fragment="header">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="${title ?: 'Elvis Recipe Index'}">Layout: Recipe Index</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
	
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
	
<link rel="stylesheet" href="/static/css/recipe.css" th:href="@{/css/recipe.css}" />
</th:block>	
</head>

<body class="body-layout">

<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<div class="navbar-brand">
	<a class="" href="/"> 
		<i id="home" class="font-xxl btn btn-outline-primary fas fa-home border-0 pulse"></i>
	</a>
	</div>
		
	<div class="font-xxl text-light mx-auto d-flex navbar-text">
		<a class="" href="/surprise.html" th:href="@{/surprise}"><i id="pepper" class="p-1 text-danger fas fa-pepper-hot glow glow-red rotate"></i></a>
		<div id="title" class="mx-2"><span class="glow glow-red" th:text="${title ?: 'Elvis: Recipes'}">Layout: Recipes</span></div> 
		<a class="" href="/surprise.html" th:href="@{/surprise}"><i id="pizza" class="p-1 text-warning fas fa-pizza-slice glow glow-orange rotate"></i></a>
	</div>
	
	<div class="text-light justify-content-end" >
		<a href="https://github.com/izzce" target="_blank">
		<i class="font-xxl btn btn-outline-light fab fa-github border-0 pulse"></i>
		</a>
		<a href="https://stackoverflow.com/users/4211402/izce" target="_blank">
		<i class="font-xxl btn btn-outline-light fab fab fa-stack-overflow border-0 pulse"></i>
		</a>
	</div>
</nav>
	
<div role="main" class="container">
	<div class="jumbotron col-8 mx-auto bg-dark">
	</div>
</div>
	
	
<footer th:fragment="footer" class="footer footer-dark bg-dark mt-3 p-3">
  <div class="container text-center text-muted">
    <span class="h6 p-2">About</span>
    <span class="h6 p-2">Contact</span>
    <span class="h6 p-2">Copyright &copy; 2020</span>
  </div>
</footer>


<th:block th:fragment="scripts">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->   
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->   
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
			crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
			crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
			crossorigin="anonymous">
	</script>
	
</th:block>

</body>
</html>
