<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 
<th:block th:fragment="header">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="${title ?: 'Elvis Recipe Index'}">Layout: Recipe Index</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" />
	
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
	
<link rel="stylesheet" href="/static/css/recipe.css" th:href="@{/css/recipe.css}" />
<!--  <link rel="icon" href="/static/images/pepper.gif" type="image/gif" sizes="16x16" /> --> 
<link rel="icon" href="/static/images/favicon-pepper.png" type="image/png" th:href="@{/images/favicon-pepper.png}" />
</th:block>	

</head>

<body class="body-layout">

<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	
	<!-- HOME BUTTON -->
	<div class="d-none d-sm-block navbar-brand">
		<a class="" href="/"> 
			<i id="home" class="font-xxl btn btn-outline-primary fas fa-home border-0 pulse"></i>
		</a>
	</div>
	
	<!-- MAIN TITLE -->
	<div class="font-xl text-light mx-auto d-flex navbar-text">
		<a class="" href="/surprise.html" th:href="@{/surprise}"><i id="pepper" class="p-1 text-danger fas fa-pepper-hot glow glow-red rotate"></i></a>
		<div id="title" class="mx-2"><span class="glow glow-red" th:text="${title ?: 'Elvis: Recipes'}">Layout: Recipes</span></div> 
		<a class="" href="/surprise.html" th:href="@{/surprise}"><i id="pizza" class="p-1 text-warning fas fa-pizza-slice glow glow-orange rotate"></i></a>
	</div>
		
	<!-- USER DETAILS -->
	<div th:if="${#httpServletRequest.remoteUser} != null" class="d-none d-sm-block navbar-brand justify-content-end" >
        <form th:action="@{/logout}" method="post">
        	<span class="h6" th:text="#{login.hello(__${#httpServletRequest.remoteUser}__)}">Hello user!</span>
	        <button type="submit" class="font-xl btn btn-outline-warning border-0 pulse">
			    <i class=" fas fa-sign-out-alt  pulse"></i>
			</button>
        </form>
	</div>
	
</nav>
	
<div role="main" class="container">
	<div class="jumbotron col-8 mx-auto bg-dark">
	</div>
</div>
	
	
<footer th:fragment="footer" class="footer footer-dark bg-dark mt-3 p-3">
  <div class="container text-center text-muted">
    <span class="h6 py-2 px-3 border-right border-secondary" th:text="#{layout.copyright}">Copyright &copy; 2022</span>
    <span class="h6 py-2 px-3" th:text="#{layout.contact}">Contact</span>    
  	<a href="https://github.com/izzce" target="_blank"><i class="font-xl btn btn-outline-secondary fab fa-github border-0 pulse"></i></a>
	<a href="https://stackoverflow.com/users/4211402/izce" target="_blank"><i class="font-xl btn btn-outline-secondary fab fab fa-stack-overflow border-0 pulse"></i></a>
  </div>
</footer>


<th:block th:fragment="scripts">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->   
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</th:block>

</body>
</html>
