<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Surprise</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous">
		
 	<link rel="stylesheet" href="/static/css/recipe.css" th:href="@{/css/recipe.css}" />
 	<link rel="stylesheet" href="/static/css/ellipse.css" th:href="@{/css/ellipse.css}" />
</head>

<body class="body-index">

	<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark p-5">
		<div id="home" class="navbar-brand glow glow-blue">
		<a class="" href="/"> 
			<i class="btn btn-outline-primary fas fa-home border-0 pulse"></i>
		</a>
		</div>
			
		<div class="text-light mx-auto d-flex navbar-text ">
			<i id="pepper" class="m-2 text-danger fas fa-pepper-hot glow glow-red rotate"></i>
			<div id="title" class="px-2"><span class="glow glow-red">Surprise</span></div> 
			<i id="pizza" class="m-2 text-warning fas fa-pizza-slice glow glow-orange rotate"></i>
		</div>
	</nav>
	
	<canvas id="lightening-canvas"></canvas>
	
	<div id="ellipse-box" class="btn btn-outline-warning ellipse-box">
		<div class="ellipse border-danger">
			<i id="pepper2" class="circle p-1 text-danger fas fa-pepper-hot glow glow-red"></i>
		</div>
		<div class="ellipse border-primary">
			<i id="fish2" class="circle p-1 text-primary fas fa-fish glow glow-blue"></i>
		</div>
		<div class="ellipse border-warning">
			<i id="lemon2" class="circle p-1 text-warning fas fa-lemon glow glow-yellow"></i>
		</div>
	</div>
	
	<small id="log" class="text-light small text-right"></small>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->   
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"
  			integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  			crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
			crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
			crossorigin="anonymous">
	</script>
	
	<!-- Banner Lightening Animation JSs -->
	<script type="text/javascript" th:src="@{/js/perlin-noise.js}" src="/static/js/perlin-noise.js"></script>
	<script type="text/javascript" th:src="@{/js/lightening.js}" src="/static/js/lightening.js"></script>
	
</body>
</html>
